<!DOCTYPE html>
<html>
<head>
    <title>Welcome sur notre Chatbot</title>
</head>
<body>
    <h1>Tell Me</h1>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="questions">
        <button type="submit">Envoyer</button>
    </form>
    <div id="reponses"></div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $('form').submit(function(event) {
            event.preventDefault();
            $.ajax({
                type: 'POST',
                url: 'chatbot/',
                data: $('form').serialize(),
                success: function(response) {
                    $('#response').text(reponses.message);
                }
            });
        });
    </script>
</body>
</html>
