<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" type="text/css" href="{% static 'Future-Moms-main/css/main.css'%}">
        <!-- ci dessous ne pas oublier de faire le lien avec la page du chatbot -->
        <link rel="stylesheet" type="text/css" href="{% static 'Future-Moms-main/css/chatbot.css'%}">
        <link rel="icon" type="image/jpg" href="{% static 'Future-Moms-main/image/bloom.jpg'%}">
        <script src="//kit.fontawesome.com/87cee28510.js" crossorigin="anonymous"></script>
    </head>
    <body>
        {% load static %}
       <!--Le fa-3x permet d'aggrangir l'icone, 
        j'aurais aussi pu mettre 2x si je veux que ce soit moins grand-->
        <nav class="mobile">
            <div class="icone-mobile">
                <div class="icone-nav"><a href="partenaire.html"><i class="fa-solid fa-children fa-2x"></i></a></div>
                <div class="icone-nav"><a href="suivi.html"><i class="fa-solid fa-calendar-days fa-2x"></i></a> </div>

                <div class="icone-nav"><a href="projet.html"><i class="fa-solid fa-list-check fa-2x"></i></a> </div>
                <div class="icone-nav"><a href="https://www.example.com"><i class="fa-solid fa-ellipsis-vertical fa-2x"></i></a></div>
             
        </nav>

        <!-- nav: connexion = logo-->
         <nav class="desktop">
            <ul> 
                <li><a href="{% static 'Future-Moms-main/partenaire.html'%}">TOI+MOI</a></li>
                <li><a href="{% static 'Future-Moms-main/suivi.html'%}">Suivi personnalisé</a></li>
                <li><a href="{% static 'Future-Moms-main/projet.html'%}">Projet de naissance</a></li>
                <li><a href="http://www.example.com" title="explication du lien">Blog</a></li>
                <li><a href="http://www.example.com" title="explication du lien">Newsletter</a></li>
                <li class="connexion"><a href="{% static 'Future-Moms-main/login.html'%}"><i class="fa-solid fa-user-group fa-2x"></i></a></li>
            </ul>  
        </nav>

<!--en tete version mobile-->
  <div class="en-tete">
    <p class="en-tete-texte"><a href="index.html">Bloom in Two</a></p>       
    <a href="{% static 'login.html'%}"><i class="fa-solid fa-user-group fa-2x"></i></a>
  </div>

    <body>
        <h1>Quelle est votre question?</h1>
        <div>{{message}}</div>
        <form method="POST">
            <div id="recherche">
        {% csrf_token %}
        <input id="saisiequestion" type="text" placeholder="    Ecrivrez votre message ici..." name="questions" value="{{question}}" >
        <button id="btnsubmit" type="submit"><i class="fa-regular fa-paper-plane fa-lg"></i></button>
            </div>
        </form>
        <div id="reponses"></div>
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $('form').submit(function(event) {
            event.preventDefault();
            $.ajax({
                type: 'POST',
                url: 'chatbot/',
                data: $('form').serialize(),
                success: function(reponses) {
                    $('#reponses').text(reponses.questions);
                }
            });
        });
    </script> -->
    <footer class="desktop">
        <div class="rgpd">
            <ul class="footerList">
                <li><a href="https://www.example.com">Contact</a></li>
                <li><a href="https://www.example.com">FAQ</a></li>
                <li><a href="https://www.example.com">Mentions légales</a></li>
                <li><a href="https://www.example.com">Politique de confidentialité</a></li>
            </ul>
        </div>

    <div class="reseaux">
        <ul>
            <li class="reseau"><i class="fa-brands fa-instagram"></i></li>
            <li class="reseau"><i class="fa-brands fa-twitter"></i></li>
            <li class="reseau"><i class="fa-brands fa-facebook-f"></i></li>
        </ul>
    </div>
    </footer>
</body>
</html>