<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" type="text/css" href="{% static 'Future-Moms-main/css/main.css'%}">
        <link rel="icon" type="image/jpg" href="{% static 'Future-Moms-main/image/bloom.jpg'%}">
        <script src="//kit.fontawesome.com/87cee28510.js" crossorigin="anonymous"></script>
    </head>
    <body>
        {% load static %}
       <!--Le fa-3x permet d'aggrangir l'icone, 
        j'aurais aussi pu mettre 2x si je veux que ce soit moins grand-->
        <nav class="mobile">
            <div class="icone-mobile">
                <div class="icone-nav"><a href="partenaire.html"><i class="fa-solid fa-children fa-2x"></i></a></div>
                <div class="icone-nav"><a href="suivi.html"><i class="fa-solid fa-calendar-days fa-2x"></i></a> </div>

                <div class="icone-nav"><a href="projet.html"><i class="fa-solid fa-list-check fa-2x"></i></a> </div>
                <div class="icone-nav"><a href="https://www.example.com"><i class="fa-solid fa-ellipsis-vertical fa-2x"></i></a></div>
             
        </nav>


        <!-- nav: connexion = logo-->
         <nav class="desktop">
            <ul> 
                <li><a href="/" title="Aller sur le blog">Accueil</a></li>
                <li><a href="/partenaire" title="Vivre la grossesse ensemble">TOI+MOI</a></li>
                <li><a href="/suivi" title="Calendrier de suivi">Suivi personnalisé</a></li>
                <li><a href="/projet" title="Construire votre projet">Projet de naissance</a></li>
                <li><a href="/newsletter" title="Lire la newsletter">Newsletter</a></li>
                <li><a href="/chatbot" title="Poser des questions">ChatBot</a></li>
                <li class="connexion"><a href="/login"><i class="fa-solid fa-user-group fa-2x"></i></a></li>
            </ul>  
        </nav>

<!--en tete version mobile-->
  <div class="en-tete">
    <p class="en-tete-texte"><a href="index.html">Bloom in Two</a></p>       
    <a href="{% static 'login.html'%}"><i class="fa-solid fa-user-group fa-2x"></i></a>
  </div>

  {% if page == 'home'%}
        <section class="accueil">
            <div class="image-accueil">
                <div class="text-accueil">
                    <h1 class="accueil">Bloom<br>in<br>two</h1>
                    <p class="propvaleur">Une aventure unique partagée</p>
                    <div class="button-accueil">
                    <!--button><a href="#">Un simple lien</a></button-->

                        <button class="decouvre"><a href="www.example.com">Je découvre</a></button>
                        <button class="telecharge"><a href="{% static 'login.html'%}">Je télécharge</a></button>
                    </div>
                </div>
            </div>
            <div class="info-accueil">
                <div class="suivi-accueil bulle">Complète<br>ton suivi<br>personnalisé</div>
                <div class="projet-accueil bulle">Créer ton<br>projet de naissance<br>pas à pas</div>
                <div class="partenaire-accueil bulle">Partage<br>l'expérience avec<br>ton partenaire</div>
            </div>
        </section>
        
    {% endif %}

    {%if page == 'chatbot' %}
        <section class="chatbot">
                <h1>Quelle est votre question ?</h1>
                <div>{{result}}</div>
                <form method="POST">
                    <div id="recherche">
                {% csrf_token %}
                <input id="saisiequestion" type="text" placeholder="    Ecrivez votre message ici..." name="message" value="{{message}}" >
                <button id="btnsubmit" type="submit"><i class="fa-regular fa-paper-plane fa-lg"></i></button>
                    </div>
                </form>
                <div id="reponses"></div>
    </section>
    {% endif %}


    {%if page == 'suivi' %}
contenu à mettre
    {% endif %}


    {%if page == 'projet' %}
    <section class="section-projet">
        <div class="bloc-projet">

            <div class="titre-projet">Projet naissance</div>
<!--Faire des container de deux éléments pour leur dire 
de bouger deux par deux en  version mobile-->
            <div class="icone-projet">

                <div class="projet-container">
                     <div class="element-projet">
                    <div class="cercle-projet">
         <!--La balise a me permet de créer un lien vers le formulaire,il faut encadrer
            l'élément qui doit avoir le lien, j'encadre
        image et texte car je veux le lien sur les deux-->               
                      <a  class="formulaire" href="formulaire.html">
                        <img src="{% static 'Future-Moms-main/image/environnement.png'%}" alt="environnement">
                    </div>
                    <p class="texte-projet">Environnement</p>
                </a>
                </div>

                <div class="element-projet">
                    <div class="cercle-projet">
                        <a class="formulaire" href="formulaire.html">
                             <img src="image/douleur.png" alt="douleur">
                    </div>
                    <p class="texte-projet">Douleur</p>
                </a>
                       
                </div>
            </div>
               
                <div class="projet-container"> 
                    <div class="element-projet">
                    <div class="cercle-projet">
                        <a class="formulaire" href="formulaire.html">
                        <a class="formulaire" href="formulaire.html"> 
                            <img src="image/Femme enceinte.png" alt="travail">
                    </div>
                    <p class="texte-projet">Pendant le travail</p>
                </a>
                       
                </div>

                <div class="element-projet">
                    <div class="cercle-projet">
                        <a  class ="formulaire" href="formulaire.html" >
                        <img class="image-projet" src="image/materiel-naissance.png" alt="materiel">
                    </div>
                    <p class="texte-projet">Matériel</p>
                </a>
                       
                </div>
            </div>
               
            <div class="projet-container"> 
                <div class="element-projet">
                    <div class="cercle-projet">
                        <a class ="formulaire" href="formulaire.html"> 
                            <img src="image/cordon.png"  alt="cordon">
                    </div>
                            <p class="texte-projet">Cordon ombilical</p>
                 </a> 
                          
                 </div>
                
                <div class="element-projet">
                    <div class="cercle-projet">
                        <a class="formulaire" href="formulaire.html">
                            <img src="image/naissance.png"   alt="bebe">
                    </div>
                    <p class="texte-projet">Naissance</p>
                </a>
                        
                </div>
            </div>
               

            <div class="projet-container"> 
                <div class="element-projet">
                <div class="cercle-projet">
                    <a href="formulaire.html"> 
                        <img src="image/allaitement.png"   alt="allaitement">
                     </div>   
                    <p class="texte-projet">Allaitement</p> 
                </a>
                       
                </div>

                <div class="element-projet">
                    <div class="cercle-projet">
                        <a  class="formulaire" href="formulaire.html"> 
                            <img src="image/autres.png" alt="Autres">
                     </div>
                     <p class="texte-projet">Autres</p>
                     </a>
                       
                </div>
            </div>
            </div>  
                   
         </div>
        
    </section>
    {% endif %}

        <footer class="desktop">
            <div class="rgpd">
                <ul class="footerList">
                    <li><a href="https://www.example.com">Contact</a></li>
                    <li><a href="https://www.example.com">FAQ</a></li>
                    <li><a href="https://www.example.com">Mentions légales</a></li>
                    <li><a href="https://www.example.com">Politique de confidentialité</a></li>
                </ul>
            </div>

        <div class="reseaux">
            <ul>
                <li class="reseau"><i class="fa-brands fa-instagram"></i></li>
                <li class="reseau"><i class="fa-brands fa-twitter"></i></li>
                <li class="reseau"><i class="fa-brands fa-facebook-f"></i></li>
            </ul>
        </div>
        </footer>

   </body>

</html>
