<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <link rel="icon" type="image/jpg" href="image/bloom.jpg">
        <script src="//kit.fontawesome.com/87cee28510.js" crossorigin="anonymous"></script>
    </head>
    <body>

       <!--Le fa-3x permet d'aggrangir l'icone, 
        j'aurais aussi pu mettre 2x si je veux que ce soit moins grand-->
        <nav class="mobile">
            <div class="icone-mobile">
                <div class="icone-nav"><a href="partenaire.html"><i class="fa-solid fa-children fa-2x"></i></a></div>
                <div class="icone-nav"><a href="suivi.html"><i class="fa-solid fa-calendar-days fa-2x"></i></a> </div>

                <div class="icone-nav"><a href="projet.html"><i class="fa-solid fa-list-check fa-2x"></i></a> </div>
                <div class="icone-nav"><a href="https://www.example.com"><i class="fa-solid fa-ellipsis-vertical fa-2x"></i></a></div>
             
        </nav>


        <!-- nav: connexion = logo-->
         <nav class="desktop">
            <ul> 
                <li><a href="partenaire.html">TOI+MOI</a></li>
                <li><a href="suivi.html">Suivi personnalisé</a></li>
                <li><a href="projet.html">Projet de naissance</a></li>
                <li><a href="http://www.example.com" title="explication du lien">Blog</a></li>
                <li><a href="http://www.example.com" title="explication du lien">Newsletter</a></li>
                <li class="connexion"><a href="login.html"><i class="fa-solid fa-user-group fa-2x"></i></a></li>
            </ul>  
        </nav>

<!--en tete version mobile-->
  <div class="en-tete">
    <p class="en-tete-texte"><a href="index.html">Bloom in Two</a></p>       
    <a href="login.html"><i class="fa-solid fa-user-group fa-2x"></i></a>
  </div>

        <section class="accueil">
            <div class="image-accueil">
                <div class="text-accueil">
                    <h1 class="accueil">Bloom<br>in<br>two</h1>
                    <p class="propvaleur">Une aventure unique partagée</p>
                    <div class="button-accueil">
                    <!--button><a href="#">Un simple lien</a></button-->

                        <button class="decouvre"><a href="www.example.com">Je découvre</a></button>
                        <button class="telecharge"><a href="login.html">Je télécharge</a></button>
                    </div>
                </div>
            </div>
            <div class="info-accueil">
                <div class="suivi-accueil bulle">Complète<br>ton suivi<br>personnalisé</div>
                <div class="projet-accueil bulle">Créer ton<br>projet de naissance<br>pas à pas</div>
                <div class="partenaire-accueil bulle">Partage<br>l'expérience avec<br>ton partenaire</div>
            </div>
        </section>
        
        <footer class="desktop">
            <div class="rgpd">
                <ul class="footerList">
                    <li><a href="https://www.example.com">Contact</a></li>
                    <li><a href="https://www.example.com">FAQ</a></li>
                    <li><a href="https://www.example.com">Mentions légales</a></li>
                    <li><a href="https://www.example.com">Politique de confidentialité</a></li>
                </ul>
            </div>

        <div class="reseaux">
            <ul>
                <li class="reseau"><i class="fa-brands fa-instagram"></i></li>
                <li class="reseau"><i class="fa-brands fa-twitter"></i></li>
                <li class="reseau"><i class="fa-brands fa-facebook-f"></i></li>
            </ul>
        </div>
        </footer>

   </body>

</html>
