
.image-accueil{
    //background-image: url(../image/logo-couple.jpg);
    background-image: url(../image/logo-sansfond.png);
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    

    }

.text-accueil{
    text-align: center;
    font-size: 70px;
    text-shadow: 15px 15px 15px rosybrown;

}
.accueil h1{
    text-align: center;
    /*width:90%;
    padding: 5%;*/
    display:block;
    font-family: $police1;
    font-size: 100%;

}

.propvaleur{
    text-align: center;
    // width:90%;
    // padding: 5%;
    font-family: $police2;
    font-size: 70%;
}

.button-accueil{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 40%;
    margin: auto;
    
    
    /*font-family: $police1;*/
    /*font-size: 30%;*/
    /*padding: 10px 20px 10px 0px*/
        /*font-size: ...*/
        }

.button-accueil button{
    background-color:#FADBD8;
    padding: 7px 30px 7px 30px;
    border-radius: 40px;
    cursor: pointer;
    /*text-shadow: 1px 1px 1px #000;*/

}

.button{
    font-size: 2rem;
    text-align: center;
}
.button-accueil button:hover{
background: linear-gradient(45deg, rgba(223,140,226,1) 0%, rgba(235,184,81,1) 100%);
}

.info-accueil{
flex-direction: row;
width: 90%;
text-align: center;
display: flex;
justify-content: space-around;
padding:5%;

}

.info-accueil .bulle{
    width: 160px;
    height: 160px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    // *padding: 2em;*
    
}
.info-accueil .suivi-accueil{
    background-color: #D6EAF8;
    box-shadow: 10px 5px 5px rosybrown
    
}
.info-accueil .projet-accueil{
    background-color:#F8C471 ;
    box-shadow: 10px 5px 5px rosybrown
}

.info-accueil .partenaire-accueil{
    background-color:#FADBD8 ;
    box-shadow: 10px 5px 5px rosybrown
}   


@media screen and (max-width:425px) {


    /*.text-accueil{
        display: flex;
        justify-content: center;*/

        .image-accueil{
            //background-image:url(../image/logo-couple.jpg); 
            background-image: url(../image/logo-sansfond.png);
            background-position: center;
            min-height: 300px;
            margin:auto;
            background-repeat: no-repeat;
            /*display: flex;
            justify-content: center;*/
    
        }
    
        .info-accueil{
        margin-bottom: 10%;
        font-size: 10px;
    
        }
    
        .info-accueil .bulle{
        width: 100px;
        height: 100px;
        
    
        }
    
        .accueil h1{
            display: none;
        }
    
        .propvaleur{
        
        text-align: center;  
        font-size: 40%;
        margin-bottom: 30px;
        
        }
    
        .button-accueil{
        justify-content: space-evenly;
        width: 100%;
        }
      

}

  