    #btnsubmit {
        border-radius: 20px;
        border: 1px solid;
        background-color: #fff;
        cursor: pointer;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        
    }
    
    #btnsubmit:hover{
        background-color: #F8C471;
        box-shadow: 2px 4px #999999;
    }
    
    
    #saisiequestion{
        border-radius: 25px 0 25px 25px;
        width: 90%;
        height: 50px;
        padding: 1px;    
        border: none;

    }
    
    #recherche{
        display: flex;
        width: 90%;
        height: 10px;
    }
    #saisiequestion{
        margin-right: 20px;
    }
    
    
    .chat-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 40px;
      }
      
      .chat-bubble {
        margin: 10px;
      }
      
      .message {
        max-width: 75%;
        padding: 10px;
        border-radius: 20px;
        font-size: 16px;
        line-height: 1.5;
      }
      
      .text {
        margin: 0;
      }
      
      .user .message {
        background-color: wheat;
        color: #212529;
        align-self: flex-end;
        font-weight: bold;

      }
      

      .bot .message {
        background-color: #D6EAF8;
        color: #212529;
        align-self: flex-start;
        font-weight: bold;
      }

      

      .bot{
        display: flex;
        justify-content: flex-end;
        width: 85%;
      }

      .user{
        width: 85%;
      }
      
      