
.body-formulaire {
    background-size: auto; /* je choisis auto à la place de cover sinon le bas du
    background sera trop clair et on ne verra plus très bien les icones*/
    
 
}

.formulaire-projet form {
    height: 400px;
    background-color: white;
    width: 400px;
    margin: auto;
}
