*{
    padding: 0;
    margin: 0;
}

  @import url('https://fonts.googleapis.com/css2?family=Mansalva&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,300&display=swap');

$Jaune: #F8C471;
$police1: "Roboto Serif";
$police2: "Mansalva";


$police1: "Roboto Serif";
$police2: "Mansalva";



body {
    background-image:url("../image/background-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: $police1;
    
 }
 

 .en-tete{
    background-color: #F8C471;
    font-family: $police2;
    gap: 15px;
    display: flex;
    justify-content: space-between;
 
    
}

.mobile {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    background-color: $Jaune;
    text-align: center;
}

.desktop{
    display: none;
    /*position:fixed;*/
    width: 100%;
}


.icone-mobile {
   justify-content: space-around;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   width: 100%;

}

.icone-nav{
    border-radius: 5px;
    background-color: #FADBD8;

}

/* propriétés pour que le lien hypertexte ne rendent pas les icones bleu
 et que la ligne du lien ne soit pas là*/
.icone-mobile a {
    text-decoration: none;
     color: black;
}

.en-tete a {
    text-decoration: none;
     color: black;
}

.en-tete-texte {
    font-size: 25px;
}

/* pour que le nom du site et le logo ne soit pas collé aux bords*/
.en-tete {
  padding: 5px;
}

.icone-mobile a{
    color: black;
    text-decoration: none;
}

.en-tete a{
    color: black;
    text-decoration: none;
}

.en-tete-texte{
    font-size: 25px;
}

.en-tete{
    padding: 10px;
}


.icone-mobile a{
    color: black;
    text-decoration: none;
}

.en-tete a{
    color: black;
    text-decoration: none;
}

.en-tete-texte{
    font-size: 25px;
}

.en-tete{
    padding: 10px;
}


@import "accueil.scss";
@import "login.scss";
@import "suivi.scss";
@import "projet.scss";
@import "partenaire.scss";
@import "formulaire.scss";





@media ( min-width : 768px ) {
   
    .desktop {
        /*position: fixed;
        width: 100%;
        bottom: 0;*/
        display: flex;
        height: 60px;
        align-items: center;
        justify-content: space-around;
        height: 60px;
      
    }

    nav {
        background-color: $Jaune;
        display: flex;
    }

 /*Enlever le soulignement du lien hypertexte et enlever la couleur bleu du lien*/
    .desktop a {
        text-decoration: none;
        color: black;
    }
    
    .en-tete{
        display: none;
    }

    .desktop ul{
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        cursor: pointer;
    }
    
    
    
    .connexion-partenaire {
        font-size: 30px;
        display: flex;
        justify-content: right;
        
    
    }
    
    footer {
        display: flex; 
        justify-content: space-between;
        align-items: center;
        background-color: wheat;
       
     }
     
     footer ul {
         list-style-type: none;
         display: flex;
         justify-content: space-between;
         width: 100%;
         cursor: pointer;
         gap: 10px;
     }
     
     .reseaux{
         display: flex;
     }

     .reseau {
         display: flex;
         justify-content: space-around;
         color: black;
         padding: 10px;
         border: 1px solid;
         border-radius: 50px;
         width:15px;      

     }


     .mobile {
        display: none;
     }
     
     .en-tete {
        display: none;
     }
    
 }



 







