.section-partenaire{
    text-align: center;
}

.section-partenaire button{
    background-color: white;
	border-radius: 6px;
    margin: auto;
    margin-top: 10px;
    cursor: pointer;
    width: 80%;
    padding: 5px;
}

.section-partenaire button:hover{
    background: linear-gradient(45deg, rgba(223,140,226,1) 0%, rgba(235,184,81,1) 100%);
}

.section-partenaire h1{
    font-family: $police2;
    text-align: center;
    font-size: 32px;
    padding: 20px;
}

.section-partenaire h2, .section-partenaire h3{
    font-family: $police2;
    font-size: 20px;
    /*option*/
    /*color: #fff;
    background: linear-gradient(45deg, rgba(223,140,226,1) 0%, rgba(235,184,81,1) 100%);*/

}

.article-partenaire img{
    width: 250px;
    height: 100px;
    text-align: center;
}

.section-partenaire h2, .section-partenaire h3{
    font-size: 25px;
    padding: 10px;
}

.section-partenaire p{
    text-decoration: underline;
    padding-top: 15px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.section-partenaire img{
    padding-left: 50px
}

.souvenir-partenaire{
    flex-direction: column;
    width: 100%;
    display: flex;
    align-items: center;
}

.souvenir-partenaire img{
    width: 290px;
    height: 290px;
    margin: 10px;
    padding-right: 50px;
}

.souvenir-partenaire a{
    color: black;
    text-decoration: none;
}

.article-bebe3 img{
    margin-bottom: 15px;
}

.photo-partenaire img{
    border-radius: 15px;
}



@media ( min-width : 768px ) {

/*.section-partenaire button{
    background-color: white;
	border-radius: 6px;
    margin-top: 10px;
    cursor: pointer;
    width: 100%;
    padding: 5px;
}*/

/*.section-partenaire button:hover{
    background: linear-gradient(45deg, rgba(223,140,226,1) 0%, rgba(235,184,81,1) 100%);
}*/

/*.section-partenaire h1{
    font-family: $police2;
    text-align: center;
    font-size: 35px;
    padding: 20px;
}*/

.photo-partenaire{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}


.section-partenaire h2, .section-partenaire h3{
    font-family: $police2;
    font-size: 35px;
    text-align: center;
    /*background: linear-gradient(45deg, rgba(223,140,226,1) 0%, rgba(235,184,81,1) 100%);*/

}

.section-partenaire p{
    cursor: pointer;
    text-decoration: underline;
    font-size: 22px;
    padding: 14px;
}

.souvenir-partenaire{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.souvenir-partenaire img{
    width: 360px;
    height: 345px;
}

.souvenir-partenaire a{
    color: black;
    text-decoration: none;
}

.article-partenaire{
    width: 100%;
    padding-bottom: 35px;
}



.article-partenaire img{
    width: 150px;
    height: 100px;
}

.article-couple2 p{
    padding: 12px;
}

.couple-partenaire{
    display: flex;
    flex-direction: row;
    width: 60%;
    margin:auto;
    justify-content: space-around;
}

.bebe-partenaire{
    display: flex;
    flex-direction: row;
    width: 60%;
    margin: auto;
    justify-content: space-around;
}





}


    
    

